<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <h1>Добавление пользователя</h1>
</head>
<body>
<form th:action="@{/admin/add}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>

    <p><label for="name">name</label></p>
    <p><input type="text" th:field="*{name}" id="name"required></p>

    <p><label for="password">password</label></p>
    <p><input type="password" th:field="*{password}" id="password"></p>

    <p><label for="lastname">lastname</label></p>
    <p><input type="text" th:field="*{lastname}" id="lastname" ></p>

    <p><label for="age">age</label></p>
    <p><input type="number" th:field="*{age}" id="age"></p>

    <p><label for="city">city</label></p>
    <p><input type="text" th:field="*{city}" id="city"></p>

    <p>
        <label>Roles:
            <input type="checkbox" name="authorities"
                   th:each="role : ${rolelist}"
                   th:text="${role.name}"
                   th:value="${role.getName()}"
            />
        </label>
    </p>
    <p>
        <input type="submit" value="add">
    </p>

</form>

<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>